.slider {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 30px;
  background-color: #d3d3d3;
  border-radius: 30px;
  padding: 3px;
}

.cercle {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  animation: toggleOff 0.4s linear forwards ;
}

.cercleNewCss {
    animation: toggleOn 0.4s linear forwards ;
  background-color: black;
}
@keyframes toggleOff {
    0% {
        background-color: black;
        transform: translateX(27px);
    }
    100% {
        background-color: white;
        transform: translateX(0px);
    }
}
@keyframes toggleOn {
    0% {
      background-color: #d3d3d3;
      transform: translateX(0px);
    }
    100% {
      background-color: black;
      transform: translateX(27px);
      
    }
}
.body{
  animation: bodyColorOff 0.4s linear forwards ;
}
.bodyCss {
  background-color: black;
  animation: bodyColorON 0.4s linear forwards ;
}

@keyframes bodyColorON {
    0% {
      background-color: white;
    }
    100% {
      background-color: black;
    }
}
@keyframes bodyColorOff {
    0% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}
